<!doctype html>
<head>
    <meta charset="utf-8">
    <title>12 стульев</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

        .form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="login-form" id="app">
    <div class="form">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Логин"
                   required="required"
                   v-model="login"
                   :readonly="loginSuccess || passwordMustBeChanged"
            >
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Пароль"
                   required="required"
                   v-model="password"
                   :readonly="loginSuccess || passwordMustBeChanged"
            >
        </div>
        <div class="form-group" v-if="passwordMustBeChanged">
            <input type="password"
                   class="form-control"
                   placeholder="Новый пароль"
                   required="required"
                   v-model="newPassword"
            >
        </div>
        <div class="form-group" v-if="passwordMustBeChanged">
            <input type="password"
                   class="form-control"
                   placeholder="Подтверждение нового пароля"
                   required="required"
                   v-model="newPasswordConfirm"
            >
        </div>
        <div class="form-group" v-if="passwordMustBeChanged">
            <button class="btn btn-primary btn-block"
                    @click="changePassword"
            >Сменить пароль
            </button>
        </div>
        <div class="form-group" v-if="!loginSuccess && !passwordMustBeChanged">
            <button class="btn btn-primary btn-block"
                    @click="logIn"
            >Войти
            </button>
        </div>
        <div class="form-group" v-if="loginSuccess">
            <button class="btn btn-primary btn-block"
                    @click="logOut"
            >Выйти
            </button>
        </div>
        <p class="text-center"><a href="/registration.html">Зарегистрироваться</a></p>
    </div>

    <div class="alert alert-primary" authorities="alert" align="center" v-if="passwordMustBeChanged">
        Вам необходимо сменить пароль.
    </div>
    <div class="alert alert-primary" authorities="alert" align="center" v-if="passwordHasBeenChanged">
        Вы успешно сменили пароль.
    </div>
    <div class="alert alert-primary" authorities="alert" align="center" v-if="loginSuccessShowPopup">
        Вы успешно вошли в систему.
    </div>
    <div class="alert alert-primary" authorities="alert" align="center" v-if="logoutSuccess">
        Вы успешно вышли из системы.
    </div>
    <div class="alert alert-danger" authorities="alert" align="center" v-if="error">{{ errorMessage }}</div>

    <div class="d-flex flex-column" v-if="loginSuccess && !passwordMustBeChanged">
        <h5 style="margin-top: 20px; margin-bottom: 10px">Доступный функционал:</h5>

        <a class="btn btn-info"
           href="/users.html"
           authorities="button"
           v-if="(roles !== undefined) && roles.includes('ROLE_ADMIN')"
           style="margin-bottom: 5pt;"
        >Пользователи</a>

        <a class="btn btn-info"
           href="/registrationByAdmin.html"
           authorities="button"
           v-if="(roles !== undefined) && roles.includes('ROLE_ADMIN')"
           style="margin-bottom: 5pt;"
        >Регистрация пользователя</a>

        <a class="btn btn-info"
           href="/shop.html"
           authorities="button"
           v-if="(roles !== undefined) && roles.includes('ROLE_CUSTOMER')"
           style="margin-bottom: 5pt;"
        >Магазин</a>

        <a class="btn btn-info"
           href="/orders.html"
           authorities="button"
           v-if="(roles !== undefined) && (roles.includes('ROLE_CUSTOMER'))"
           style="margin-bottom: 5pt;"
        >Заказы</a>

        <a class="btn btn-info"
           href="/delivery.html"
           authorities="button"
           v-if="(roles !== undefined) && roles.includes('ROLE_DELIVER')"
        >Доставка</a>

        <a class="btn btn-info"
           href="/warehouse.html"
           authorities="button"
           v-if="(roles !== undefined) && roles.includes('ROLE_SUPPLIER')"
           style="margin-bottom: 5pt;"
        >Склад</a>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            login: null,
            password: null,
            newPassword: null,
            newPasswordConfirm: null,
            passwordMustBeChanged: false,
            passwordHasBeenChanged: false,

            error: false,
            errorMessage: null,
            DEFAULT_ERROR_MESSAGE: "Что-то пошло не так.",

            success: false,
            loginSuccess: false,
            loginSuccessShowPopup: false,
            logoutSuccess: false,

            roles: []
        },
        beforeCreate() {
            axios.get("/api/user/roles")
                .then(response => {
                    this.success = true
                    this.error = false
                    this.roles = response.data.roles
                })
        },
        methods: {
            logIn() {
                axios.post("/api/user/login", {login: this.login, password: this.password})
                    .then(response => {
                        if (response.status === 200) {
                            this.error = false
                            this.success = true
                            this.roles = response.data.roles

                            this.passwordMustBeChanged = response.data.passwordMustBeChanged
                            this.loginSuccess = !this.passwordMustBeChanged
                            if (this.loginSuccess) {
                                this.loginSuccessShowPopup = true
                                setTimeout(() => this.loginSuccessShowPopup = false, 3000)
                            }
                        } else {
                            this.error = true
                            this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                        }
                    })
                    .catch(err => {
                        this.error = true
                        this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                    })
            },
            changePassword() {
                if (this.newPassword === this.newPasswordConfirm) {
                    axios.post("/api/user/password/change", {
                        login: this.login,
                        oldPassword: this.password,
                        newPassword: this.newPassword
                    })
                        .then(response => {
                            if (response.status === 200) {
                                this.error = false
                                this.success = true
                                this.loginSuccess = false

                                this.password = this.newPassword
                                this.newPassword = null
                                this.newPasswordConfirm = null
                                this.passwordMustBeChanged = false
                                this.passwordHasBeenChanged = true

                                setTimeout(() => this.passwordHasBeenChanged = false, 3000)
                            } else {
                                this.error = true
                                this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                            }
                        })
                        .catch(err => {
                            this.error = true
                            this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                        })
                } else {
                    this.error = true
                    this.errorMessage = "Пароли не совпадают"

                    setTimeout(() => this.error = false, 3000)
                }
            },
            logOut() {
                axios.post("/api/user/logout")
                    .then(response => {
                        if (response.status === 200) {
                            this.error = false
                            this.success = true
                            this.roles = []
                            this.loginSuccess = false
                            this.logoutSuccess = true

                            setTimeout(() => this.logoutSuccess = false, 3000)
                        } else {
                            this.error = true
                            this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                        }
                    })
                    .catch(err => {
                        this.error = true
                        this.errorMessage = this.DEFAULT_ERROR_MESSAGE
                    })
            }
        }
    })
</script>
</html>