<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 Стульев</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">12 Стульев</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="users.html" v-if="roles.includes('ROLE_ADMIN')">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrationByAdmin.html" v-if="roles.includes('ROLE_ADMIN')">Создание пользователя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html" v-if="roles.includes('ROLE_CUSTOMER')">Магазин</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="orders.html"
                       v-if="roles.includes('ROLE_CUSTOMER')">
                        Заказы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="delivery.html" v-if="roles.includes('ROLE_DELIVER')">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="warehouse.html" v-if="roles.includes('ROLE_SUPPLIER')">Склад</a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <button type="button"
                            class="btn text-dark navbar-brand"
                            @click="logOut"
                    >Выйти
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <template v-if="logoutSuccess">
        <div class="alert alert-primary" authorities="alert" align="center">Вы успешно вышли из системы и
            будете направлены на страницу входа через {{redirectTimeout}} секунды!
        </div>
        <div class="progress" style="height: 2px;">
            <div id="redirect-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
        </div>
    </template>

    <div class="container d-flex flex-column">
        <br>
        <div v-if="orders.length === 0">
            <h4>Заказы отсутствуют</h4>
        </div>

        <div class="card my-4" v-for="order in orders" :key="order.id">
            <div class="card-header d-flex justify-content-between">
                <h2 class="mb-0">
                    Заказ №{{ order.id }}
                </h2>

                <div class="alert" :class="status(order)">
                    <b>{{ order.statusText }}</b>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Наименование</th>
                                    <th> Цена</th>
                                    <th> Количество</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in order.items" :key="item.id">
                                    <td><span> {{ item.name }} </span></td>
                                    <td><span> {{ item.price }} ₽ </span></td>
                                    <td><span> {{ item.quantity }} </span></td>
                                </tr>
                                <tr>
                                    <td><span> <strong>Сумма заказа</strong> </span></td>
                                    <td><span> {{ order.totalPrice }} ₽ </span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <button type="button"
                                            class="btn btn-success"
                                            v-if="order.status == 'ORDER_CREATED'"
                                            @click="pay(order)">
                                        Оплатить
                                    </button>
                                </div>
                                <div class="alert alert-danger" role="alert" v-if="order.error">
                                    Oops!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            roles: [],
            orders: [],

            logoutSuccess: false,
            REDIRECT_TIMEOUT: 3,
            redirectTimeout: 3
        },
        beforeCreate() {
            axios.get("api/user/roles")
                .then(response => {
                    this.roles = response.data.roles
                })
            axios.get("/api/order/all")
                .then(response => {
                    this.orders = response.data.map(order => ({...order, error: false}));
                })
                .catch(error => {
                    this.errors.push(error)
                })
        },
        methods: {
            pay(order) {
                axios.post("/api/order/pay", order)
                    .then(response => {
                        if (response.status === 200) {
                            order.status = response.data.status
                            order.statusText = response.data.statusText
                            order.error = false
                            this.orders.sort((a, b) => a.status === "ORDER_CREATED" ? -1 : 1)
                        } else {
                            order.error = true
                        }
                    })
                    .catch(error => {
                        order.error = true
                    })
            },
            status(order) {
                switch (order.status) {
                    case "ORDER_CREATED":
                        return "alert-primary"

                    case "ORDER_PAID":
                        return "alert-success"

                    case "ORDER_COMING":
                        return "alert-info"

                    case "ORDER_DELIVERED":
                        return "alert-dark"
                }
            },
            logOut() {
                axios.post("/api/user/logout")
                    .then(response => {
                        if (response.status === 200) {
                            this.logoutSuccess = true
                            this.error = false

                            setInterval(() => {
                                this.redirectTimeout--
                                document.getElementById('redirect-progress-bar').style.width =
                                    ((this.REDIRECT_TIMEOUT - this.redirectTimeout) / this.REDIRECT_TIMEOUT) * 100 + '%';
                            }, 1000);

                            setTimeout(() => window.location.href = "/login.html",
                                this.REDIRECT_TIMEOUT * 1000)
                        } else {
                            this.error = true
                        }
                    })
                    .catch(err => this.error = true)
            }
        }
    })
</script>
</html>