<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 Стульев</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">12 Стульев</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="users.html" v-if="roles.includes('ROLE_ADMIN')">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrationByAdmin.html" v-if="roles.includes('ROLE_ADMIN')">Создание
                        пользователя</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" v-if="roles.includes('ROLE_CUSTOMER')">Магазин <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders.html"
                       v-if="roles.includes('ROLE_CUSTOMER')">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="delivery.html" v-if="roles.includes('ROLE_DELIVER')">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="warehouse.html" v-if="roles.includes('ROLE_SUPPLIER')">Склад</a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <button type="button"
                            class="btn text-dark navbar-brand"
                            @click="logOut"
                    >Выйти
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <template v-if="logoutSuccess">
        <div class="alert alert-primary" authorities="alert" align="center">Вы успешно вышли из системы и
            будете направлены на страницу входа через {{redirectTimeout}} секунды!
        </div>
        <div class="progress" style="height: 2px;">
            <div id="redirect-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
        </div>
    </template>

    <div class="container">
        <br>
        <div class="h-100 row align-items-center">
            <div class="col-lg-12">
                <h3>Мебель</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td><span> {{ item.name }} </span></td>
                        <td><span> {{ item.price }} ₽ </span></td>
                        <td><span> {{ item.quantity }} </span></td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-dark"
                                    @click="addItem(item)"
                            >Добавить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="h-100 row align-items-center">
            <div class="col-lg-12">
                <h3>Корзина</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Наименование</th>
                        <th> Цена</th>
                        <th> Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in cart.items" :key="item.id">
                        <td><span> {{ item.name }} </span></td>
                        <td><span> {{ item.price }} ₽ </span></td>
                        <td><span> {{ item.quantity }} </span></td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-dark"
                                    @click="deleteItem(item)"
                            >Удалить
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><span> <strong>Всего</strong> </span></td>
                        <td><span> {{ cart.totalPrice }} ₽ </span></td>
                        <td><span> {{ cart.totalCount }} </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex flex-column justify-content-around ml-4">
                <div>
                    <button
                            type="button"
                            class="btn btn-dark"
                            @click="createOrder"
                            :disabled="cartIsEmpty"
                    > Оформить заказ
                    </button>
                </div>
                <div class="alert alert-success mt-2" role="alert" v-if="orderCreated">Заказ создан</div>
                <div class="alert alert-danger mt-2" role="alert" v-if="orderError">Что-то пошло не так. Попробуйте
                    позже.
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            roles: [],
            items: [],
            errors: [],
            cart: {
                items: [],
                totalCount: 0,
                totalPrice: 0
            },
            orderCreated: false,
            orderError: false,

            logoutSuccess: false,
            REDIRECT_TIMEOUT: 3,
            redirectTimeout: 3
        },
        beforeCreate() {
            axios.get("api/user/roles")
                .then(response => {
                    this.roles = response.data.roles
                })
            axios.get("/api/warehouse/items")
                .then(response => {
                    this.items = response.data;
                })
                .catch(error => {
                    this.errors.push(error)
                })
        },
        computed: {
            cartIsEmpty() {
                return this.cart.items.length < 1;
            }
        },
        methods: {
            addItem(item) {
                if (item.quantity <= 0) {
                    return
                }

                let found = this.cart.items.find(
                    product => product.id === item.id
                )

                if (found) {
                    found.quantity++
                } else {
                    const insert = JSON.parse(JSON.stringify(item))
                    insert.quantity = 1
                    this.cart.items.push(insert)
                }

                item.quantity--
                this.cart.totalCount++
                this.cart.totalPrice += item.price
            },
            deleteItem(item) {
                let found = this.items.find(
                    product => product.id === item.id
                )

                if (item.quantity !== 1) {
                    item.quantity--
                } else {
                    var removeIndex = this.cart.items.findIndex(x => x.id === item.id)
                    this.cart.items.splice(removeIndex, 1)
                }

                found.quantity++
                this.cart.totalCount--
                this.cart.totalPrice -= item.price

            },
            createOrder() {
                axios.post("/api/order", this.cart.items)
                    .then(response => {
                        if (response.status === 200) {
                            this.cart = {
                                items: [],
                                totalCount: 0,
                                totalPrice: 0
                            }
                            this.orderCreated = true
                            setTimeout(() => this.orderCreated = false, 3000)
                        } else {
                            this.orderError = true
                        }
                    })
                    .catch(error => this.orderError = true)
            },
            logOut() {
                axios.post("/api/user/logout")
                    .then(response => {
                        if (response.status === 200) {
                            this.logoutSuccess = true
                            this.error = false

                            setInterval(() => {
                                this.redirectTimeout--
                                document.getElementById('redirect-progress-bar').style.width =
                                    ((this.REDIRECT_TIMEOUT - this.redirectTimeout) / this.REDIRECT_TIMEOUT) * 100 + '%';
                            }, 1000);

                            setTimeout(() => window.location.href = "/login.html",
                                this.REDIRECT_TIMEOUT * 1000)
                        } else {
                            this.error = true
                        }
                    })
                    .catch(err => this.error = true)
            }
        }
    })

</script>
</html>