<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 Стульев</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">12 Стульев</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" v-if="roles.includes('ROLE_ADMIN')">Пользователи <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrationByAdmin.html" v-if="roles.includes('ROLE_ADMIN')">Создание пользователя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html" v-if="roles.includes('ROLE_CUSTOMER')">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders.html"
                       v-if="roles.includes('ROLE_CUSTOMER')">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="delivery.html" v-if="roles.includes('ROLE_DELIVER')">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="warehouse.html" v-if="roles.includes('ROLE_SUPPLIER')">Склад</a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <button type="button"
                            class="btn text-dark navbar-brand"
                            @click="logOut"
                    >Выйти
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <template v-if="logoutSuccess">
        <div class="alert alert-primary" authorities="alert" align="center">Вы успешно вышли из системы и
            будете направлены на страницу входа через {{redirectTimeout}} секунды!
        </div>
        <div class="progress" style="height: 2px;">
            <div id="redirect-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
        </div>
    </template>

    <div class="container">
        <br>
        <div class="h-100 row align-items-center">
            <div class="col-lg-12">
                <h2>Пользователи</h2>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>E-Mail</th>
                        <th>Адрес</th>
                        <th>Роли</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <td><span> {{ user.login }} </span></td>
                        <td><span> {{ user.firstName }} </span></td>
                        <td><span> {{ user.lastName }} </span></td>
                        <td><span> {{ user.email }} </span></td>
                        <td><span> {{ user.address }} </span></td>
                        <td><span> {{ user.roles }} </span></td>
                        <td>
                            <button type="button"
                                    class="btn btn-dark"
                                    @click="resetUserPassword(user)"
                            >Сбросить пароль
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-dark"
                                    @click="deleteUser(user)"
                            >Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="alert alert-primary" authorities="alert" align="center" v-if="userPasswordHasBeenReset">
            Пароль пользователя был успешно сброшен.
            Пользователь будет обязан сменить его при следующем входе в систему.
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            roles: [],
            users: [],

            userPasswordHasBeenReset: false,

            logoutSuccess: false,
            REDIRECT_TIMEOUT: 3,
            redirectTimeout: 3
        },
        beforeCreate() {
            axios.get("api/user/roles")
                .then(response => {
                    this.roles = response.data.roles
                })
            axios.get("/api/user/all")
                .then(response => {
                    this.users = response.data.map(user => ({...user, error: false}));
                })
                .catch(error => {
                    this.errors.push(error)
                })
        },
        computed: {},
        methods: {
            logOut() {
                axios.post("/api/user/logout")
                    .then(response => {
                        if (response.status === 200) {
                            this.logoutSuccess = true
                            this.error = false

                            setInterval(() => {
                                this.redirectTimeout--
                                document.getElementById('redirect-progress-bar').style.width =
                                    ((this.REDIRECT_TIMEOUT - this.redirectTimeout) / this.REDIRECT_TIMEOUT) * 100 + '%';
                            }, 1000);

                            setTimeout(() => window.location.href = "/login.html",
                                this.REDIRECT_TIMEOUT * 1000)
                        } else {
                            this.error = true
                        }
                    })
                    .catch(err => this.error = true)
            },
            resetUserPassword(user) {
                axios.post("/api/user/" + user.id + "/password/reset/")
                    .then(response => {
                        if (response.status === 200) {
                            this.userPasswordHasBeenReset = true;
                            setTimeout(() => this.userPasswordHasBeenReset = false, 3000)
                        }
                    })
            },
            deleteUser(user) {
                axios.post("/api/user/" + user.id + "/delete/")
                    .then(response => {
                        if (response.status === 200) {
                            this.users.splice(this.users.indexOf(user), 1);
                        }
                    })
            },
        }
    })
</script>
</html>