<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 Стульев</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">12 Стульев</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="users.html" v-if="roles.includes('ROLE_ADMIN')">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registrationByAdmin.html" v-if="roles.includes('ROLE_ADMIN')">Создание пользователя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html" v-if="roles.includes('ROLE_CUSTOMER')">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders.html"
                       v-if="roles.includes('ROLE_CUSTOMER')">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="delivery.html" v-if="roles.includes('ROLE_DELIVER')">Доставка</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" v-if="roles.includes('ROLE_SUPPLIER')">Склад <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <button type="button"
                            class="btn text-dark navbar-brand"
                            @click="logOut"
                    >Выйти
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <template v-if="logoutSuccess">
        <div class="alert alert-primary" authorities="alert" align="center">Вы успешно вышли из системы и
            будете направлены на страницу входа через {{redirectTimeout}} секунды!
        </div>
        <div class="progress" style="height: 2px;">
            <div id="redirect-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
        </div>
    </template>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2> Склад </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Наименование</th>
                        <th> Цена</th>
                        <th> Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td><input v-model="item.name" :disabled="item.disabled"></td>
                        <td><input v-model="item.price" :disabled="item.disabled"></td>
                        <td><input v-model="item.quantity" :disabled="item.disabled"></td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-dark"
                                    @click="item.disabled=!item.disabled"
                            >Изменить
                            </button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-dark"
                                    @click="deleteItem(item)"
                            >Удалить
                            </button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    class="btn btn-dark"
                                    @click="saveItem(item)"
                                    v-if="!item.saved"
                            >Сохранить
                            </button>
                        </td>
                        <td><span
                                style="color: brown;"
                                v-if="item.error"
                        >Oops!</span></td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-dark btn-block"
                        @click="addItem"
                >Добавить товар
                </button>
                <button class="btn btn-dark btn-block"
                        @click="saveAll"
                >Сохранить изменения
                </button>
                <div class="alert alert-danger" authorities="alert" align="center" v-if="error">Что-то пошло не так.
                    Попробуйте позже
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            roles: [],
            items: [],
            error: false,

            logoutSuccess: false,
            REDIRECT_TIMEOUT: 3,
            redirectTimeout: 3
        },
        beforeCreate() {
            axios.get("api/user/roles")
                .then(response => {
                    this.roles = response.data.roles
                })
            axios.get("/api/warehouse/items")
                .then(response => {
                    this.items = response.data.map(item => ({...item, disabled: true, saved: true, error: false}));
                })
        },
        methods: {
            addItem() {
                this.items.push({
                    id: null,
                    name: null,
                    price: null,
                    quantity: null,
                    disabled: false,
                    saved: false,
                    error: false
                })
            },
            deleteItem(item) {
                if (item.id == null) {
                    var removeIndex = this.items.findIndex(x => x.id === item.id)
                    this.items.splice(removeIndex, 1)
                } else {
                    axios.delete("/api/warehouse/item/" + item.id)
                        .then(response => {
                            if (response.status === 200) {
                                var removeIndex = this.items.findIndex(x => x.id === item.id)
                                this.items.splice(removeIndex, 1)
                            } else {
                                item.error = true
                            }
                        })
                        .catch(error => item.error = true)
                }
            },
            saveItem(item) {
                let itemToSave = JSON.parse(JSON.stringify(item))
                delete itemToSave.disabled
                delete itemToSave.saved
                axios.post("/api/warehouse/item", itemToSave)
                    .then(response => {
                        if (response.status === 200) {
                            item.id = response.data
                            item.error = false
                            item.disabled = true
                            item.saved = true
                        } else {
                            item.error = true
                        }
                    })
                    .catch(error => {
                        item.error = true
                    })
            },
            saveAll() {
                let itemsToSave = JSON.parse(JSON.stringify(this.items))
                itemsToSave.forEach(item => {
                    delete item.saved
                    delete item.disabled
                    delete item.error
                })
                axios.put("/api/warehouse/items", itemsToSave)
                    .then(response => {
                        if (response.status === 200) {
                            this.items.map(item => {
                                item.disabled = true
                                item.error = false
                                item.saved = true
                                this.error = false
                            })
                        } else {
                            this.error = true
                        }
                    })
                    .catch(error => this.error = true
                    )
            },
            logOut() {
                axios.post("/api/user/logout")
                    .then(response => {
                        if (response.status === 200) {
                            this.logoutSuccess = true
                            this.error = false

                            setInterval(() => {
                                this.redirectTimeout--
                                document.getElementById('redirect-progress-bar').style.width =
                                    ((this.REDIRECT_TIMEOUT - this.redirectTimeout) / this.REDIRECT_TIMEOUT) * 100 + '%';
                            }, 1000);

                            setTimeout(() => window.location.href = "/login.html",
                                this.REDIRECT_TIMEOUT * 1000)
                        } else {
                            this.error = true
                        }
                    })
                    .catch(err => this.error = true)
            }
        }
    })

</script>
</html>